@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: 226, 0, 0;
    --dont-use-color-rgb: rgb(226, 0, 0);

    --secondary-color: #FFFFFF;
    --tertiary-color: rgb(226, 0, 0, 0.5);
    --primary-background-color: #000000;
    --secondary-background-color: rgba(28, 28, 30, 0.4);

    --primary-accent-color: #8E8E93;
    --primary-font-family: Anton;
    --secondary-font-family:'Inter', sans-serif;

    --primary-input-background-color: rgb(113, 113, 113, 0.1);
}

body {
    display: flex;
    background-color: var(--primary-background-color);
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}


.mainLogo {
    display: flex inline;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font-family);
    width: 150px;
    height: 50px;
    font-size: 200%;
    position: relative;
    user-select: none;
    font-family: var(--primary-font-family);
}

.mainLogo .progress {
    color: white;
}

.mainLogo .X {
    color: rgba(var(--primary-color));
    font-size: 150%;
    padding-top: 2px;
}

.mainWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    justify-content: center;
}