@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: 226, 0, 0;
    --dont-use-color-rgb: rgb(226, 0, 0) !important;

    --secondary-color: #FFFFFF !important;
    --tertiary-color: rgb(226, 0, 0, 0.5) !important;
    --primary-background-color: #000000 !important;
    --secondary-background-color: rgba(28, 28, 30, 0.4) !important;

    --primary-accent-color: rgba(142, 142, 147, 0.836) !important;
    --primary-font-family: Anton !important;
    --secondary-font-family:'Inter', sans-serif !important;

    --primary-input-background-color: rgb(11, 11, 11) !important;
}

body {
    display: flex !important;
    background-color: var(--primary-background-color) !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow-y: hidden !important;
}


.mainLogo {
    display: flex inline !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: var(--primary-font-family) !important;
    width: 150px !important;
    height: 50px !important;
    font-size: 200% !important;
    position: relative !important;
    user-select: none !important;
    font-family: var(--primary-font-family) !important;
}

.mainLogo .progress {
    color: white !important;
}

.mainLogo .X {
    color: rgba(var(--primary-color)) !important;
    font-size: 150% !important;
    padding-top: 2px !important;
}

.mainWrapper {
    padding-left: 5%;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    color: white !important;
}
