.mainContainer {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1550px) and (min-width: 1200px) {
    .mainContainer {
        padding-left: 0;
    }
}

.daysDots {
    display: flex;
    padding-left: 35%;
}

.calenderButtonContainer {
    position: relative;
    width: 100px;
}

.calenderButtonContainer svg {
    fill: white;
    transition: fill 0.1s linear;
    position: absolute;
    bottom: 23px;
}

.calenderButtonContainer svg:hover {
    fill: rgba(var(--primary-color));
    cursor: pointer;
}

.daysDots table {
    border-spacing: 15px;
}

.daysDots td {
    text-align: center;
}

.daysDots td p {
    font-family: var(--primary-font-family);
    color: var(--secondary-color);
    opacity: 0.5;
}

.daysDots button {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 15px;
    border: rgba(var(--primary-color), 0.5) solid 3px;
    transition: border-color 0.1s linear,
                border-style 0.1s linear;

    background: none;  
}

.daysDots button:disabled {
    border: var(--secondary-color) dashed 3px !important;
    cursor: default !important;
}

.daysDots button:hover {
    cursor: pointer;
    border: rgba(var(--primary-color)) solid 3px;
    background-clip: padding-box;
}

.selectedDay {
    border: rgba(var(--primary-color), 1) dashed 3px !important;
    background-clip: padding-box !important;
    background-color: rgba(var(--primary-color), 0.1) !important;
}

.selectedDay:hover {
    cursor: pointer;
}

.foodIntakeDisplayContainer {
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
}

.dailyFoodIntakeContainer {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--primary-input-background-color);
    border-radius: 10px;
    border: rgba(var(--primary-color)) solid 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;

}

.addFoodItemContainer {
    width: 50%;
    height: 95%;
    animation: toggleAddItem 0.2s ease-out forwards;
    transform-origin: left;
    position: absolute;
    top: 2.5%;
    left: 51%;
    background-color: rgb(11, 11, 11);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
    user-select: none;
}

@media (min-width: 1600px) {
    .addFoodItemContainer {
        width: 40% !important;
    }
}

@keyframes toggleAddItem {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.dailyIntakeHeader {
    color: white;
    font-size: 40px;
    font-family: var(--primary-font-family);
}

.dailyFoodIntakeContainer button {
    background: rgba(var(--primary-color));
    stroke: var(--secondary-color);
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 46%;
    right: -22px;
    transition: background-color 0.1s linear,
                stroke 0.1s linear;
}


.dailyFoodIntakeContainer button:hover {
    cursor: pointer;
    background: var(--secondary-color);
    stroke: rgba(var(--primary-color));
}

.addFoodItemButtons {
    width: 80%;
    height: 30%;
    border-radius: 20px;
    background-color: rgb(113, 113, 113, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font-family);
    box-shadow: 0 5px 0 0 rgb(255, 0, 0, 0);
    transition: background-color 0.1s linear,
                box-shadow 0.1s linear,
                color 0.1s linear;

    opacity: 0;
    animation: addFoodItemButtonsAppear 0.1s linear forwards;
    animation-delay: 0.1s;
}

@keyframes addFoodItemButtonsAppear {
    100% {
        opacity: 1;
    }   
}

.addFoodItemButtons:hover {
    cursor: pointer;
    background-color: rgb(113, 113, 113, 0.2);
    box-shadow: 0 0 30px 0 rgb(255, 0, 0, 1);
    color: rgba(var(--primary-color));
}

.dietAnalytics {
    display: flex;
    width: min-content;
    height: 95%;
    left: 51%;
    top: 2.5%;
    position: absolute;
    z-index: 0;
    padding-left: 5%;
    gap: 30px;
}

.analyticsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: min-content;
    height: 100%;
    gap: 10px;

}

.dietAnalyticsHeaders {
    font-family: var(--primary-font-family);
    font-size: 24px;
    margin: 0;
    width: 66%;
    color: var(--tertiary-color);
}

.calorieContainer {
    width: min-content;
    height: 100%;
    position: absolute;
    right: -70%;
    top: -5%;
    display: flex;
    gap: 60px;
}

.customButtonContainer {
    height: 100% !important;
    width: 50%;
    display: flex;
    position: relative;
}

.customButton {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color);
    font-family: var(--primary-font-family);
    position: absolute;
    top: 32.5%;
    gap: 10px;
    user-select: none;
    transition: color 0.1s linear,
                border-bottom 0.1s linear;
}

.customButton:hover {
    cursor: pointer;
    color: rgba(var(--primary-color));
    border-bottom: 2px solid rgba(var(--primary-color));

}

.customButton ul {
    list-style: none;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.customButton li {
    background-color: white;
    border-radius: 100%;
    transition: background-color 0.15s linear;

}

.customButton p {
    margin: 0;
    width: 50px;
}

.highlightedGoalItem {
    background-color: rgba(var(--primary-color)) !important;
    transition: background-color 0.15s linear;
}

.caloriesHeader, .caloriesText {
    position: absolute;
    font-family: var(--primary-font-family);
    font-size: 40px;
    width: 300px;
    bottom: 35%;
    left: 100%;
    margin: 0;
}

.caloriesHeader {
    color: var(--tertiary-color);
}

.caloriesText {
    transform: translateY(60px);
    animation: calChange 0.3s linear forwards;
}

@keyframes calChange {
    from{
        color: rgba(var(--primary-color));
    }

    to{
        color: var(--secondary-color);
    }
}