.emptyComponentContainer {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    position: relative;
}

.emptyComponentContainer img {
    position: absolute;
    right: 0;
    top: 0;
}