@import '../../global.css';

/* 
    Styles are shared between the videos and images components due to component similarity
*/


.videosContainer {
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start; /* Fixes the auto stretch property applied so that spacing is more consistent */
    padding: 10px;
    gap: 15px;
    overflow-y: auto;

    scrollbar-color: rgba(var(--primary-color)) rgba(var(--primary-color), 0);
}

.addVideoButtonContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    gap: 5px;
}

.addVideoButtonContainer p {
    margin-block-start: 0;
    margin-block-start: 0;
    font-family: var(--secondary-font-family);
    font-size: 12px;
    padding-left: 5px;
    color: rgba(var(--primary-color));
}

.addVideoButtonContainer img{
    border: 2px solid rgba(var(--primary-color), 0.2);

}

.addVideoButton {
    width: 150px;
    height: 200px;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    transition: border 100ms linear
}

.addVideoButton svg {
    stroke: rgba(var(--primary-color));
}

.addVideoButton:hover {
    cursor: pointer;
}

.addVideoButton:hover {
    border: 2px solid rgba(var(--primary-color));
}

.customFormContainer {
    position: absolute;
    top: 20%;
    left: 27.5%;
    width: 45%;
    height: 60%;
    background-color: black;
    box-shadow: inset 0 0 20px 10px rgba(var(--primary-color), .5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appear 0.1s forwards;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100%{
        transform: scale(1)
    }
}

.customForm {
    border: 3px dashed rgba(28, 28, 30, 0.6);
    border-radius: 15px;
    width: 60%;
    height: 60%;
    transition: border 0.1s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customForm:hover {
    border: 3px dashed rgba(var(--primary-color), 0.6);
    cursor: pointer;
}

.exitButton {
    position: absolute;
    font-size: 50px;
    top: 5%;
    right: 5%;
    margin-block-end: 0;
    margin-block-start: 0;
    transition: color 0.1s linear;
    user-select: none;
}

.exitButton:hover {
    cursor: pointer;
    color: rgba(var(--primary-color));
}

.customForm p {
    margin-block-end: 0;
    margin-block-start: 0;
}

.customFormSelectHeader {
    font-size: 24px;
}

.customFormSelectBody {
    font-family: var(--secondary-font-family);
}

.customFormButton {
    background-color: rgba(var(--primary-color));
    width: 120px;
    border-radius: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 3px;
}

.submitImageButton {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%); /* This magic aligns the button in the center combined with the left: 50%; property */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: var(--primary-font-family);
    font-size: 20px;
    border-radius: 10px;
    color: var(--secondary-color);
    stroke: var(--secondary-color);
    background-color: rgba(var(--primary-color));
    border: none;

    transition: background-color 0.1s linear,
                color 0.1s linear,
                stroke 0.1s linear;

}

.submitImageButton:hover {
    cursor: pointer;
    color: rgba(var(--primary-color));
    stroke: rgba(var(--primary-color));
    background-color: var(--secondary-color);
}

.progressPhotoContainer {
    width: 80%;
}

.highlightedImageContainer {
    position: absolute;
    top: 10%;
    left: 27.5%;
    width: 30%;
    height: 45%;
    padding: 10%;
    background-color: black;
    box-shadow: inset 0 0 20px 10px rgba(var(--primary-color), .5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appear 0.1s forwards;
}

.highlightedImageContainer img {
    border: 5px solid rgba(var(--primary-color));
}

.highlightedImageContainer svg{
    stroke: white;
    position: absolute;
    top: 7%;
    left: 7%;
    transition: stroke 0.1s linear;
}

.highlightedImageContainer svg:hover {
    stroke: rgba(var(--primary-color));
    cursor: pointer;
}

.highlightedImageCreatedText {
    position: absolute;
    bottom: 20px;
    font-family: var(--secondary-font-family);
}

.highlightedImageMoreSVG {
    stroke: rgba(var(--primary-color)) !important;
}

.moreImageOptions {
    width: 60px;
    position: absolute;
    top: 12.5%;
    left: 7%;
    padding: 0;
    display: flex;
    flex-direction: column;
    animation: optionsAppear 0.5s forwards;
}

@keyframes optionsAppear {
    0% {
        height: 0;
    }
    100%{
        height: 60%;

    }
}

.moreImageOptions svg {
    fill: white;
    stroke: black;
    margin: 0;
    transition: fill 0.1s linear;
}

.moreImageOptions svg:hover {
    fill: rgba(var(--primary-color));
    stroke: black;
}

.confirmDeleteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.confirmDeleteContainer p {
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.confirmDeleteContainer button {
    height: 45px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-family: var(--primary-font-family);
    color: white;
    font-size: 18px;
    background-color: rgba(var(--primary-color));
    transition: background-color 0.1s linear, 
                color 0.1s linear;
}

.confirmDeleteContainer button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: rgba(var(--primary-color));
}