.calorieBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: min-content;
    height: 600px;
    color: rgb(255, 255, 255, 0.2);
    font-family: var(--primary-font-family);
    margin-top: 50px;
    position: relative;
}

.segment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100px;
    border-left: 3px solid rgba(var(--primary-color));
    border-right: 3px solid rgba(var(--primary-color));
    border-top: 3px dashed rgba(var(--primary-color))
}

@media (max-width: 1550px) and (min-width: 1200px) {
    .segment {
        width: 95px;
    }

    .calorieBarContainer {
        height: 550px;
    }
}

.segment p {
    margin: 0;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.currProgress {
    --curr-scale: 0;
    
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    transform: scaleY(var(--curr-scale));
    transition: transform 0.3s ease-in-out;
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    position: absolute;
    z-index: -1;
}

.goalHightlight {
    --offset: 0;
    --height: 20px;
    --background: rgba(var(--primary-color), 0.2);
    
    width: 100%;
    height: var(--height);
    position: absolute;
    background-color: var(--background);
    border: 3px solid white;
    border-radius: 5px;
    bottom: var(--offset);
    transition: bottom 0.1s ease-in-out,
                height 0.1s ease-in-out,
                background-color 0.1s ease-in-out;
}   