.calorieBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: min-content;
    height: min-content;
    color: rgb(255, 255, 255, 0.2);
    font-family: var(--primary-font-family);
    margin-top: 50px;
    position: relative;
}

.segment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100px;
    border-left: 3px solid rgba(var(--primary-color));
    border-right: 3px solid rgba(var(--primary-color));
    border-top: 3px dashed rgba(var(--primary-color))
}

.segment p {
    margin: 0;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.currProgress {
    --curr-scale: 0;
    
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    transform: scaleY(var(--curr-scale));
    transition: transform 0.3s ease-in-out;
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    position: absolute;
    z-index: -1;
}

.goalHightlight {
    --offset: 0;

    width: 100%;
    height: 100px;
    position: absolute;
    background-color: rgba(var(--primary-color), 0.2);
    bottom: var(--offset);
}   