
.breakdownCircle {
    width: 100px;
    height: 100px;
    border: 10px solid rgb(255, 255, 255, 0.1);
    border-radius: 50%;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
}