.searchFormContainer {
  width: 175px;
}

.searchForm {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 42.5%;
  left: 15px;
  stroke: white;
}

.navBar {
    width: auto;
    height: 100vh;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--primary-font-family);
    padding-left: 4%;
}

.searchbar {
  background-color: var(--primary-input-background-color);
  border-radius: 100px;
  outline: none;
  border: none;
  width: 100px;
  height: 40px;
  color: grey;
  font-family: var(--primary-font-family);
  padding-left: 45px;
  margin-top: 10px;
  border: 2px grey solid;
  transition: width 0.5s ease;
}

.searchbar::placeholder {
  color: grey;
  font-family: var(--primary-font-family);
}

.searchbar:focus {
  outline: none;
  border: 2px grey solid;
  width: 175px;

}

.navbarList{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: min-content;
}

.navbarList li{
    color: white;
    list-style-type: none;
    background-color: none;
    display: flex;
    gap: 15px;
    width: auto;
    font-size: 23px;
    margin-top: 10px !important;
    transition: color 0.1s linear;
    margin: 0;
}

.navbarList li:hover{
    cursor: pointer;
    color: rgba(var(--primary-color));
}

.navbarList .active{
    color: rgba(var(--primary-color)) !important;
  }

.navbarList svg {
  fill: white;
  transition: fill 0.1s linear;
}

.navbarList .active svg{
  fill: red !important;
}

.navbarList li:hover svg{
  fill: red !important;
}

.secondaryList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin-top: 50px;
}

.secondaryList a{
  color: var(--primary-accent-color);
  text-decoration: none;
  width: min-content;
  transition: color 0.1s linear;
}

.secondaryList a:hover{
  color: rgba(142, 142, 147, 0.6);
}

.secondaryList li{
  font-size: 13px;
  width: 90px;
}

.secondaryList .watermark {
  color: var(--primary-accent-color);
  width: max-content;
  font-family: var(--secondary-font-family);
  font-size: 10px;
}