.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    padding: 5px 5px 5px 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: border 0.1s linear;
    user-select: none;
}

.cardContainer:hover {
    cursor: pointer;
    border: 2px solid white;
}