
.videoPlayerContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPlayer {
    width: 40%;
    height: 90%;
    border-radius: 2.5%;
    background-color: var(--secondary-background-color);
    position: relative;
    overflow: hidden;
}

.videoPlayer::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2%;
    background-color: grey;
}

.volumeButton, .moreButton {
    position: absolute;
    fill: white;
    top: 3%;
    transition: fill 0.1s linear;
}

.volumeButton {
    left: 6%;
}

.moreButton {
    right: 6%;
}

.volumeButton:hover, .moreButton:hover {
    cursor: pointer;
    fill: grey;
}

.engagementBar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    margin-top: 20%;
    padding-left: 20px;
}

.engagementBar li{
    width: 45px;
    height: 45px;
    background-color: var(--secondary-background-color);
    border-radius: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.engagementBar li:hover {
    cursor: pointer;
}

.engagementBar li svg {
    fill: white;
    transition: fill 0.1s linear;
}

.engagementBar li:hover svg {
    fill: rgba(var(--primary-color));
}

.addFollowingButton {
    width: 20px;
    height: 20px;
    top: 70%;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(var(--primary-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.videoNavigation ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.videoNavigation li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoNavigation li:hover {
    cursor: pointer;
}

.videoNavigation li svg {
    fill: white;
    transition: fill 0.1s linear;
}

.videoNavigation li:hover svg {
    fill: rgba(255, 255, 255, 0.664);
}

.navUpArrow {
    transform: rotate(-90deg);
}

.navDownArrow {
    transform: rotate(90deg);
}